%footer#contact.footer
  .footer-links
    %ul
      %li
        %h3 Contact
      %li
        %i.fa.fa-phone-square.fa-fw
        %a{:href => "tel:+49 171 414 51 94"} null17eins-414 51 94
      %li
        %i.fa.fa-envelope.fa-fw
        %a{:href => "mailto:info@sahneeis.de"} info@sahneeis.de
    %ul
      %li
        %h3 Follow
      %li
        %i.fa.fa-instagram.fa-fw
        %a{:href => "http://instagram.com/glamorous_nature"} Instagram
      %li
        %i.fa.fa-xing.fa-fw
        %a{:href => "https://www.xing.com/profile/Stefanie_Behrens8"} XING
    %ul
      %li
        %h3 Legal
      %li
        = partial "partials/modal-imprint"
      %li
        %i.fa.fa-thumbs-up.fa-fw
        %a{:href => "javascript:void(0)"} Privacy Policy
  %hr
    %p
      \&copy; 2014 - 2016 by
      = succeed "," do
        %a{:href => "http://twitter.com/netzfisch"} @netzfisch
      engineered with
      %i.fa.fa-heart
      and great
      %i.fa.fa-wrench
      like
      = succeed "," do
        %a{:href => "http://sass-lang.com", :target => "_blank"} Sass
      the
      %a{:href => "http://bourbon.io", :target => "_blank"} Bourbon
      family,
      %a{:href => "http://fortawesome.github.io/Font-Awesome", :target => "_blank"} Font Awesome
      and
      %a{:href => "https://github.com/middleman/middleman", :target => "_blank"} Middleman
