.flex-box
  %i.fa.fa-file-text-o.fa-3x
  %h1.flex-title Textarbeit
  %p Dank meiner vieljährigen <b>Berufserfahrung als (Online)-Redakteurin für Beauty, Fashion, Lifestyle und Kultur</b> bringe ich eine hohe textliche Sicherheit im <b>Schreiben</b> sowie auch im <b>Redigieren</b> von Texten mit: Auf mein <b>Stilgefühl</b>, mein <b>journalistisches Denken</b> und die Umsetzung in unterschiedlichen <b>Schreibstilen</b> können Sie bauen.
  .modal
    %label{:for => "modal-1"}
      .modal-trigger Wie das konkret aussieht, lesen Sie hier
    %input#modal-1.modal-state{:type => "checkbox"}
    .modal-fade-screen
      .modal-inner
        .modal-close{:for => "modal-1"}
        %h1 Textarbeit
        %p.modal-intro <b>Fundierte Branchen- und Fachkenntnisse</b> verbunden mit einem großen <b>Netzwerk</b>, ein gutes <b>Gespür für Themen und Trends</b> und die spannende textliche Umsetzung für ganz unterschiedliche Zielgruppen unter Berücksichtigung der Ansprache und des Alters. In diesem Sinne <b>arbeite ich auch gerne konzeptionell</b>: In Kombination mit einer assoziativen Bildauswahl können Crossmedia-Lösungen vom Online-­Journalismus bis zur ästhetischen Anmutung klassischer Magazine, <b>gegebenenfalls mit Shop-Verlinkungen</b>, entstehen. Den aktuellen Stand der <b>Suchmaschinenoptimierung</b> lasse ich natürlich hierbei mit einfließen. Noch Fragen? Ich freue mich, mit Ihnen zu sprechen.
