---
title: Stefanie Behrens || Sprache & Redaktion
---

.section.hero
  .hero-inner
    .hero-logo
      %i.fa.fa-bullhorn.fa-5x
    .hero-copy
      %h2 Sprache & Redaktion
      %h1 Stefanie Behrens
      %p Sprecherin
      %a.scroll-on-page-link{:href => "#about"}
        %i.fa.fa-chevron-down.fa-3x
    %audio{:controls => ""}
      %source{:src => "assets/audio/intro.mp3", :type => "audio/mpeg"}

.section.dark#about
  .container
    .side-content
      .aside
        <!-- www.intagme.com -->
        %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no",
        :src => "http://www.intagme.com/in/?u=Z2xhbW9yb3VzX25hdHVyZXxpbnwxMDB8NHw2fHx5ZXN8NXx1bmRlZmluZWR8eWVz",
        :style => "border:none; overflow:hidden; width:460px; height: 690px"}
      .content
        %h4 About Me
        %h1 WER BIN ICH?
        %p
          Seit dem <b>Germanistik- und Publizistikstudium</b> arbeite ich für
          unterschiedliche <b>Mediengattungen wie Internet, Radio,
          Print und TV</b>.
          Inhaltlich decke ich ein breites Spektrum von Lifestyle-Themen ab und
          <b>schreibe/spreche</b> seit 1993 über <b>Stars, Mode, Beauty und
          Design</b>.
          Zudem fotografiere ich gerne schöne Momente ...
          bei <i class="fa fa-instagram"></i> <b>Instagram</b> bin ich unter
          %a{:href => "http://instagram.com/glamorous_nature", :target => "_blank"}
            @glamorous_nature
          zu finden.
        %a.scroll-on-page-link{:href => "#services"}
          %i.fa.fa-chevron-down.fa-3x#next

.section#services
  .container
    %h4 Leistungen
    %h1 WAS MACHE ICH?
    .flex-boxes
      = partial "partials/modal-textwork"
      %a.flex-box{:href => "#references"}
        %i.fa.fa-volume-up.fa-3x
        %h1.flex-title Sprachaufnahmen
        %p Meine <b>Stimme</b> hat eine besondere <b>Anmutung</b>: Seit vielen Jahren bin ich die <b>Sprecherin für Imagefilme, Beiträge, Werbung</b>, aber auch für Ansage- und <b>Sprachcomputersysteme von Mobilfunkanbietern</b>.
        %p Auf Wunsch kann ich gerne Ihre <b>Texte redigieren</b> oder diese auch <b>konzeptionell</b> mit Ihnen vorab <b>bearbeiten</b> und dann <b>zeitnah im eigenen Tonstudio einsprechen</b>.
      %a.flex-box{:href => "#references"}
        %i.fa.fa-user.fa-3x
        %h1.flex-title Interviews
        %p
          Egal ob <b>Medien-Helden oder Stars</b> des Alltags: In <b>interessanten Interviews</b> kommt der <b>Mensch hinter seiner beruflichen oder gesellschaftlichen Position zum Vorschein</b>. Mit viel Einfühlungsvermögen beim Interview gelingen mir <b>interessante Porträts</b> - gerne werde ich auch für Ihre Publikation Interviews führen, schauen Sie sich meine <b>Referenzen</b> an.
    %a.scroll-on-page-link{:href => "#references"}
      %i.fa.fa-chevron-down.fa-3x#next

.section.dark#references
  .container
    %h4 Referenzen
    %h1 Hier meine Referenzen!
    %ul.accordion-tabs
      %li.tab-header-and-content
        %a.is-active.tab-link
          %i.fa.fa-comment
          Beiträge
        .tab-content
          %table
            %tr
              %td SAT 1
              %td Wicked: Starfotografin Ellen von Unwert
              %td
                %audio{:controls => ""}
                  %source{:src => "assets/audio/unwert.mp3", :type => "audio/mpeg"}
            %tr
              %td MDR, zuhause
              %td Perfekte Illusion: Kulissen für Soap Operas
              %td
                %audio{:controls => ""}
                  %source{:src => "assets/audio/soap.mp3", :type => "audio/mpeg"}
            %tr
              %td ARD, ratgeber reise
              %td Hanoi: Ausgangspunkt für Vietnam-Reisende
              %td
                %audio{:controls => ""}
                  %source{:src => "assets/audio/vietnam.mp3", :type => "audio/mpeg"}
      %li.tab-header-and-content
        %a.tab-link{:href => "javascript:void(0)"}
          %i.fa.fa-sitemap
          Multimedia
        .tab-content
          %table
            %tr
              %td Bundesanstalt für Wasserbau
              %td Expo am Meer (englisch)
              %td
                %audio{:controls => ""}
                  %source{:src => "assets/audio/ExpoEnglisch.mp3", :type => "audio/mpeg"}
            %tr
              %td Deutsche Bank
              %td Beratungs-Avatar Cor@
              %td
                %audio{:controls => ""}
                  %source{:src => "assets/audio/cora.mp3", :type => "audio/mpeg"}
            %tr
              %td SAT 1
              %td Tasha / Gast in Andreas Türcks TV-Talkshow
              %td
                %audio{:controls => ""}
                  %source{:src => "assets/audio/tasha.mp3", :type => "audio/mpeg"}
      %li.tab-header-and-content
        %a.tab-link{:href => "javascript:void(0)"}
          %i.fa.fa-gift
          Werbung
        .tab-content
          %table
            %tr
              %td Radio
              %td Weihnachtstrailer 94,3 r.s.2 Berlin
              %td
                %audio{:controls => ""}
                  %source{:src => "assets/audio/rs2.mp3", :type => "audio/mpeg"}
            %tr
              %td TV
              %td Frauenzeitschrift ELLE
              %td
                %audio{:controls => ""}
                  %source{:src => "assets/audio/elle.mp3", :type => "audio/mpeg"}
            %tr
              %td Kino
              %td SFB 4 Multi Kulti 106,8
              %td
                %audio{:controls => ""}
                  %source{:src => "assets/audio/MultiKulti2.mp3", :type => "audio/mpeg"}
      %li.tab-header-and-content
        %a.tab-link{:href => "javascript:void(0)"}
          %i.fa.fa-file-text
          Interviews
        .tab-content
          %table
            %tr
              %td Model
              %td
                %a{:href => "http://www.gala.de/beauty-fashion/fashion/stefanie-giesinger-interview-durchbruch-auf-der-fashion-week-new-york_1384631_225770.html", :target => "_blank"} Stefanie Giesinger
              %td
            %tr
              %td Designerinnen
              %td
                %a{:href => "http://www.gala.de/beauty-fashion/fashion/kaviar-gauche-unsere-bridal-stories_1323025_225769.html", :target => "_blank"} Alexandra Fischer-Roehler & Johanna Kühl
              %td Label KAVIAR GAUCHE
            %tr
              %td Designerin
              %td
                %a{:href => "http://www.gala.de/stars/news/interview/lala-berlin-es-gibt-keine-no-gos-mehr_1283232_225720.html", :target => "_blank"} Leyla Piedayesh
              %td Label lala BERLIN
            %tr
              %td Make-up-Artist
              %td
                %a{:href => "http://www.gala.de/beauty-fashion/beauty/loni-baur-von-make-up-bis-mode_1202133_225720.html"} Loni Baur
              %td
    %a.scroll-on-page-link{:href => "#contact"}
      %i.fa.fa-chevron-down.fa-3x#next
